@font-face {
  font-family: Roboto-flex;
  src: url("./font/RobotoFlex.ttf");
}

body {
  background-color: #7dc2ad;
  font-family: Roboto-flex, serif;
  color: white;
}

h1, h4 {
  text-align: center;
}

h4 {
  margin: -10px 0 0;
}

table, th, td {
  border: 1px solid white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}

td {
  padding: 5px 10px;
}

th {
  padding: 5px 10px;
}

.price, .quantity, .total, .spend_on_buy, .total_spend, .total_profit {
  text-align: center;
}

button {
  display: block;
  margin: 10px auto;
  background-color: transparent;
  border-radius: 10px;
  padding: 5px;
  border: 2px solid white;
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.totalPrice {
  margin: 0 auto;
  max-width: 700px;
}

.overAllPrice {
  margin: 5px 0;
}