.MuiTypography-h1 {
    text-align: center;
    font-size: 2rem !important;
    padding-bottom: 10px;
}

.MuiTableRow-root {
    transition: all 0.3s ease;
    cursor: pointer;
}

.MuiTableRow-root:hover {
    /*background-color: #7dc2ad;*/
    font-weight: bold;
}

.MuiTableCell-head {
    background-color: #7dc2ad !important;
    color: white !important;
}

/*.MuiTableRow-root:hover > * {*/
/*    color: white; !* Застосовуємо стилі до всіх клітинок у рядку *!*/
/*    background-color: #7dc2ad;*/
/*}*/

@media (max-width: 960px) {
    .MuiTableRow-root > * {
        padding: 5px !important; /* Зміна паддингу на планшетному інтерфейсі */
    }
}

@media (max-width: 500px) {
    .MuiTableRow-root > * {
        padding: 3px !important; /* Зміна паддингу на мобільному інтерфейсі */
    }
}

.MuiTableCell-root {
    border: 1px solid #ddd !important;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    box-shadow: none !important;
}

svg {
    font-size: 1rem !important;
    height: 50% !important;
    vertical-align: text-top !important;
}

.MuiTableRow-root MuiTableRow-head css-1q1u3t4-MuiTableRow-root {
    background-color: red !important;
}

.ItemImage {
    width: 200px;
}

.CollapseInner {
    position: relative;
}

.ItemDescription {
    position: absolute;
    left: 50%;
    top: 45%;
}

.CollapseInner {
    transition: height 0.3s ease;
}

.CollapseInner.open {
    height: auto; /* Застосування auto розміру для плавного розгортання */
}