@font-face {
    font-family: 'Roboto';
    src: url('./font/RobotoFlex.ttf') format('truetype');
}

:root {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

a {
    text-decoration: none;
    font-size: 1.5rem !important;
    color: #7dc2ad;
}

.GlobalWrapper {
    min-width: 390px;
    max-width: 1200px;
    margin: 0 auto;
}

.TableFunctions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.Title {
    text-align: center;
    margin-bottom: 20px;
}

.ChartsWrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.RenewWrapper {
    text-align: center;
    margin: 0 auto;
}

.Pagination div div button, .Pagination div .MuiTablePagination-displayedRows {
    display: none;
}

.Pagination {
    display: contents;
}

.Pagination div div {
    margin: unset;
}

.SearchField, .Pagination, .Currency {
    width: 250px;
}

.TableHead th span svg {
    vertical-align: bottom;
}

.PaginationBottom {
    margin: 20px 0;
    align-items: center;
}

.TotalPrices {
    max-width: 380px;
    margin: 10px auto;
    border-radius: 10px;
    padding: 5px;
    background-color: #7dc2ad;
}

.RowInner {
    margin: 10px;
}

.ItemImage {
    width: 150px;
    margin: 17px;
}

.CollapseInner {
    position: relative;
}

.ItemDescription {
    position: absolute;
    left: 50%;
    top: 45%;
}

.DeleteModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #7d83c2;
    padding: 20px;
    width: 400px;
    border-radius: 10px;
}

.YesButton {
    color: tomato !important;
}

.NoButton {
    color: greenyellow !important;
}

.EditWrapper {
    display: contents;
}

.EditItems {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 350px;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 160px);
}

.EditItems button {
    border-radius: 5px;
}

.EditItems button:hover {
    background-color: rgb(103 243 65 / 13%);
}

.EditField {
    margin-bottom: 10px;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: gray !important;
}

.SteamMarketSearch {
    text-align: center;
    margin: 0 auto;
}

.SteamMarketSearchInput, .SteamMarketSearchButton {
    padding: 20px;
    border-radius: 5px;
    border: 1px solid tomato;
    outline: none;
    font-size: 1rem;
}

.SteamMarketSearchInput {
    width: 250px;
}

.SteamMarketSearchList {
    list-style: none;
    padding: unset;
}

.SteamMarketSearchItem {
    width: 390px;
    margin: 0 auto 10px;
    text-align: left;
    display:  flex;
    justify-content: space-between;
    align-items: center;
}

tr {
    background-color: rgba(125, 194, 173, 0.11);
}

.TableRow, .TableHead {
    cursor: pointer;
}

.TableHead {
    background-color: #7dc2ad !important;
}

.TableHead th {
    color: white !important;
}

.timer {
    font-size: 10px;
    color: #7dc2ad;
}

.IconsInRow {
    position: absolute;
    top: 0;
    right: 0;
}

.MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.EditField div input, .EditField label  {
    color: white !important;
    border-color: rgba(136, 136, 136, 0.2) !important;
    color: rgba(136, 136, 136, 0);
}

.SearchField label {
    color: gray !important;
}

@media (max-width: 960px) {
    .MuiTableRow-root > * {
        padding: 5px !important; /* Зміна паддингу на планшетному інтерфейсі */
    }
}

@media (max-width: 500px) {
    .MuiTableRow-root > * {
        padding: 3px !important; /* Зміна паддингу на мобільному інтерфейсі */
    }
}

.MuiTableCell-root {
    border: 1px solid #ddd !important;
}