.MuiTypography-h1 {
    text-align: center;
    font-size: 2rem !important;
    padding-bottom: 10px;
}

.MuiTableRow-root {
    transition: all 0.3s ease;
    cursor: pointer;
}

.MuiTableRow-root:hover {
    /*background-color: #7dc2ad;*/
    font-weight: bold;
}

.MuiTableCell-head {
    background-color: #7dc2ad !important;
    color: white !important;
}

/*.MuiTableRow-root:hover > * {*/
/*    color: white; !* Застосовуємо стилі до всіх клітинок у рядку *!*/
/*    background-color: #7dc2ad;*/
/*}*/

@media (max-width: 960px) {
    .MuiTableRow-root > * {
        padding: 5px !important; /* Зміна паддингу на планшетному інтерфейсі */
    }
}

@media (max-width: 500px) {
    .MuiTableRow-root > * {
        padding: 3px !important; /* Зміна паддингу на мобільному інтерфейсі */
    }
}

.MuiTableCell-root {
    border: 1px solid #ddd !important;
}

.css-11xur9t-MuiPaper-root-MuiTableContainer-root {
    box-shadow: none !important;
}

/*svg {*/
/*    font-size: 1rem !important;*/
/*    height: 50% !important;*/
/*    vertical-align: text-top !important;*/
/*}*/

/*.MuiTableRow-root MuiTableRow-head css-1q1u3t4-MuiTableRow-root {*/
/*    background-color: red !important;*/
/*}*/

.ItemImage {
    width: 150px;
    margin: 17px;
}

.CollapseInner {
    position: relative;
}

.ItemDescription {
    position: absolute;
    left: 50%;
    top: 45%;
}

.CollapseInner {
    transition: height 0.3s ease;
}

.CollapseInner.open {
    height: auto; /* Застосування auto розміру для плавного розгортання */
}

.timer {
    font-size: 10px;
    color: #7dc2ad;
}

.IconsInRow {
    position: absolute;
    top: 0;
    right: 0;
}

/*.ModalBody {*/
/*    background-color: red !important;*/
/*}*/

.MuiModal-backdrop {
    background-color: rgba(0, 0, 0, 0.15) !important;
}

.EditField div input, .EditField label  {
    color: white !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
    border-color: rgba(136, 136, 136, 0.2) !important;
}

/*.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {*/
/*    color: white !important;*/
/*}*/

.MuiInputBase-input {
    color: rgba(136, 136, 136, 0);
}

.EditWrapper {
    display: contents;
}

.EditItems {
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 350px;
    justify-content: space-around;
    position: absolute;
    top: calc(50% - 175px);
    left: calc(50% - 160px);
}

.EditField {
    margin-bottom: 10px;
}

label[data-shrink=false]+.MuiInputBase-formControl .css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    color: gray !important;
 }

.SearchField label {
    color: gray !important;
}